@using QRCodeApp.VM;
@model VMQRCode
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @* <p><label><img src="~/img/3456_qr.jpg" /></label></p> *@
    <p><label>@Model.QRCode"</label></p>
    <p><img src="~/img/@Model.QRCode" /></p>
</div>

